{% extends 'sidebarLayout.html.twig' %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-2 text-right">
                    <div>
                        <h4>
                            {{ article.date|date("d") }}
                            <br/>
                            {{ article.date|date("F Y") }}
                        </h4>
                    </div>
                </div>
                <div class="col-10">
                    {% include 'article/card.html.twig' %}
                    <a class="btn btn-primary" target="_blank" href="articlePdf.php?id={{ article.id }}">Get PDF Article</a>
                </div>
            </div>
        </div>
        <div class="col-12 mt-5">
            {% if user %}
            <form method="post" action="processInsertComment.php" enctype="multipart/form-data">

                <div class="form-group">
                    <div class="text-danger" id="error"></div>
                    <label for="text">Adauga comentariu (peste 5 caractere)</label>
                    <textarea  name="comment" class="form-control" id="{{ article.id }}" placeholder="Adauga comentariu"></textarea>
                    <input type="hidden" name="articleId" id="articleId" value="{{ article.id }}" />
                </div>
                <button type="submit" class="d-none" id="submitComment">Comenteaza</button>

                <a class="btn btn-danger" id="PreviewHTML" >Preview</a>
                <div class="modal fade" id="PreviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Preview comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>

                            </div>
                            <div class="modal-body" id="AppendPreview">
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            {% endif %}
        </div>
        {% if comments|length > 0 %}
            <div class="row">
                <div class="col-12 mt-5 mb-2">
                    <h4>Cele mai noi comentarii</h4>
                </div>
                {% for comment in comments %}
                    {% include 'article/cardComment.html.twig' %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12 mt-5 mb-2">
            <h3>Stiri similare</h3>
        </div>
        {% for article in article.getCategory().getArticles() %}
            {% include 'article/cardSample.html.twig' %}
        {% endfor %}
    </div>
    <script>
        $(document).ready(function(){
            $(document).on('click','#PreviewHTML',function(){
                var html = $('#{{ article.id }}').val();
                if (html.length < 3) {
                    $("#error").text("Textul are prea putine caractere");
                    $("#submitComment").addClass("d-none");
                }
                else {
                    $("#submitComment").removeClass("d-none");
                    $("#submitComment").addClass("btn btn-primary");
                    $("#error").removeClass("text-danger");
                    $("#error").addClass("d-none");
                }
                $('#AppendPreview').html(html);
                $('#PreviewModal').modal('show');
            })
        })
    </script>
{% endblock %}

