<div class="row">
    <div class="col-3 ">
        <div class="card text-center px-2">
            <a href="product.php?id={{ product.getId }}"> <img class="card-img-top"
                                                               src="customTshirt.php"
                                                               alt="{{ product.name }}" style="height: 260px;"></a>
            <div class="card-body">
                <h5 class="card-title">{{ product.getName() }}</h5>
                <h5>{{ product.price }} Lei</h5>
                <a href="#?id={{ product.getId }}" class="btn btn-primary mt-2">Adauga in cos</a>
            </div>
        </div>
    </div>
</div>